[
  {otel_getting_started, []},

  {opentelemetry,
    [{processors, 
      [{otel_batch_processor,
        #{exporter => {opentelemetry_exporter, #{endpoints =>
          ["http://localhost:4318"],
          headers => [{"Header_Key", "Header_Value"}]}
        }}
      }]
    },
    {resource,
      [{service,
        #{name => "otel_getting_started", version => "1.0.0"}
      }]
    }]
  }
].
